.app-container{
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
     /* background-color: rgb(209, 55, 55); */
 }
 .app-header-bar{
     width: 100%;
     height: 100px;
     background-color: rgb(217, 192, 117);
     display: flex;
     flex-direction: row;
     align-items: center;
     justify-content: space-between;
    
     box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
 }
 .app-header-icons{
    /* background-color: aqua; */
     margin-left: 150px;
     display: flex;
 }
 .icon{
     width: 80px;
      background-color: rgb(127, 186, 81);
 }
 .company-name{
     
     /* background-color: aqua; */
     display: flex;
     align-items: center;
     flex-direction: column;
     justify-content: center;
 }
 .girman{
     
     /* background-color: rgb(185, 193, 130); */
     font-weight: bold;
     font-size: 43px;
     display: flex;
   align-items: center;
    justify-content: center;
     
 }
 .technologies{
   
     /* background-color: rgb(157, 146, 187); */
     letter-spacing: 3.5px;
     font-weight: 500;
     display: flex;
     align-items: center;
      justify-content: center;
 }

 .section{
     width: 100%;
     flex-grow: 1;
     /* background-color: rgb(100, 198, 139); */
     display: flex;
    justify-content: center;
    background: rgb(200, 223, 246) ;
background: linear-gradient(360deg, rgb(200, 223, 246)  30%, #ffffff 76%);

   
 }
 /* .section-div{
    width: 60%;
    height: 250px;
    background-color: rgb(137, 124, 166);
    margin-top: 40px;

   
} */